$paleParchment: #FDFDEC;
$chlorophyllGreen: #04461A;
$inkyJetChracoal: #10061A;
$buttonRad: 40px;

body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: $inkyJetChracoal;
  background-color: #FDFDEC;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  overflow-y: scroll;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Playfair Display SC', serif;
  width: 100%;
  margin-top: 5%;
  z-index: 1;
}

main {
  p {
    font-size: 1.7rem;
    margin: 0 15%;
    text-align: left;

    a {
      color: $inkyJetChracoal;
    }
        
    span.fiction {
      margin-top: -1.5%;
      font-size: 0.9rem;
      text-align: left;
    }
  }

  p.exploreButton {
    text-align: center;
    margin-top: 8%;
  }

  p.exploreButton:hover {
    cursor: pointer;
  }

  height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  img.ladybugPlant {
    height: 50vh;
    left: -5%;
    bottom: 21.5%;
    position: absolute;
  }
}

.visContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: -10%;

  .overlayRange {
    position: absolute;
    margin-top: 5%;
    z-index: 3;

    input[type=range] {
      margin-top: 1%;
      width: 100%;
    }
  }

}

#scene-container {
  position: absolute;
  width: 100vw;
  height: 100vw;
  margin: 0 auto;

  background-color: $paleParchment;
  overflow-x: hidden;
}

#datGui {
  ul {
    li {
      background-color: $paleParchment;
      color: $inkyJetChracoal;
      font-family: 'Open Sans', sans-serif;
      text-shadow: none;
      font-size: 1rem;
    }
    .slider {
      background-color: $paleParchment;
    }
    .slider-fg {
      background-color: $inkyJetChracoal;
    }
    input[type=text] {
      font-family: 'Open Sans', sans-serif;
      color: $paleParchment;
    }
  }
  .close-button {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
}