$paleParchment: #FDFDEC;
$chlorophyllGreen: #04461A;
$inkyJetChracoal: #10061A;
$buttonRad: 40px;
$vidHt: 500px; //~
$rangeHt: $vidHt * .005;

// @mixin insetShadow {
//   box-shadow: inset -3px -3px 10px 0.5px lighten($chlorophyllGreen, 0.5),
//       inset 3px 3px 10px 0.5px transparentize($inkyJetChracoal, 0.9);  
// }

body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: $inkyJetChracoal;
  background-color: #FDFDEC;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  overflow-y: scroll;
}

h1 {
  /* position the heading */
  // position: absolute;
  font-size: 2.5rem;
  font-family: 'Playfair Display SC', serif;
  width: 100%;
  margin-top: 5%;
  /* make sure that the heading is drawn on top */
  z-index: 1;
}

main {
  p {
    font-size: 1.7rem;
    margin: 0 5%;
    text-align: left;

    a {
      color: $inkyJetChracoal;
    }
        
    span.fiction {
      margin-top: -1.5%;
      font-size: 0.9rem;
      text-align: left;
    }
  }

  p.exploreButton {
    text-align: center;
    margin-top: 15%;
  }

  p.exploreButton:hover {
    cursor: pointer;
  }


  height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;

  .overlayRange {
    position: absolute;
    // top: -500px;
    margin-top: 5%;
    z-index: 3;

    input[type=range] {
      margin-top: 1%;
      width: 100%;
    }
  }

}

#scene-container {
  position: absolute;
  width: 100vw;/*100*/
  height: 100vw;/*100*/
  margin: 0 auto;

  background-color: $paleParchment;
  overflow-x: hidden;
}

#datGui {
  // position: relative;
  // margin-top: 10vh;
  // z-index: 4;
  // visibility: hidden;
  ul {
    li {
      background-color: $paleParchment;
      color: $inkyJetChracoal;
      font-family: 'Open Sans', sans-serif;
      text-shadow: none;
      font-size: 1rem;
    }
    .slider {
      background-color: $paleParchment;
    }
    .slider-fg {
      background-color: $inkyJetChracoal;
    }
    input[type=text] {
      font-family: 'Open Sans', sans-serif;
      color: $paleParchment;
    }
  }
  .close-button {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
}

// input[type=range] {
//   margin-top: 1%;
//   width: 25%;

//   // -webkit-appearance: none;
//   // -moz-appearance: none;
//   // height: $rangeHt;
//   // outline: none;

//   // position: relative;
//   // z-index: 2;
//   // // background-color: $paleParchment;  
//   // background-color: rgba(255, 255, 255, 0);  
// }

// // chrome range slider
// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   width: $buttonRad / 3;
//   height: $buttonRad / 3;
//   background-color: $paleParchment;
//   border-radius: 50%;
//   cursor: pointer;
//   transition: 1s ease-out;
// }

// input[type=range]::-webkit-slider-thumb:hover {
//   @include insetShadow;
// }